<!DOCTYPE html>
<html>
<head>
	<title>pedit</title>
</head>
<body>
	<h1>Add to Cart</h1>  
	<a href="/ustart">Back</a> |
	<a href="/logout">logout</a>

<br>
<form method="post">
	<table width="300px" >
		<tr>
			<td width="35%">product Name:</td>
			<td width="2%">:</td>
			<td><input type="text" name="pname" value="<%=pname%>"></td>
		</tr>
		
		<tr>
			<td>Brand</td>
			<td width="2%">:</td>
			<td><input type="text" name="brand"value="<%=brand%>"></td>
		</tr>
        <tr>
			<td>RAM</td>
			<td width="2%">:</td>
			<td><input type="text" name="ram"value="<%=ram%>"></td>
		</tr>
		<tr>
			<td>Storage</td>
			<td width="2%">:</td>
			<td><input type="text" name="storage"value="<%=storage%>"></td>
		</tr>
		<tr>
			<td>Monitor</td>
			<td width="2%">:</td>
			<td><input type="text" name="monitor"value="<%=monitor%>"></td>
		</tr>
		<tr>
			 <td>Disk-type</td>
			<td width="2%">:</td>
			<td><input type="text" name="disktype"value="<%=disktype%>"></td>
		</tr>
		<tr>
			<td>Price</td>
			<td width="2%">:</td>
			<td><input type="text" name="price"value="<%=price%>"></td>
		</tr>
		
        <tr>
			<td></td>
			<td></td>
			<td><input type="submit" name="update" value="Add to Cart"></td>
		</tr>
	</table>
	</form>
</body>
</html>